# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log

# VSCode
.vscode

# Env
.env

#db
db.sqlite3

.DS_Store

# Celery
celerybeat.pid
celerybeat-schedule

# Envs
.env.local
.env.prod

# Generated static files
staticfiles