{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="home flex-container">
    <div class="text flex-item">
      <div class="quotation">
        "URL shortening is a technique on the World Wide Web in which a Uniform Resource Locator (URL) may be made substantially shorter and still direct to the required page. This is achieved by using a redirect which links to the web page that has a long URL."
      </div>
      <div class="text-author">
        Wikipedia
      </div>
      <div class="text-grand">
        Come on! 
        <br>
        Use URL-Shortener.
      </div>
    </div>
    <div class="image flex-item">
      <img class="image" src="{% static 'image/img1.png' %}" alt="Image"/>
    </div>
  </div>
{% endblock %}