{% extends "base.html" %}
{% load domain %}

{% block content %}
  {% get_domain as domain %}
  <div>
    <div class="back">
      <a href="{% url 'links:list'%}" class="btn btn-outline-dark" role="button"><i class="fas fa-arrow-circle-left"></i></a>
    </div>
    <div class="text-center label">
      <h2>Link "{{link.hash}}"</h2>
    </div>
    <div class="table-responsive info">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row" class="bg-dark">URL</th>
            <td>{{link.url}}</td>
          </tr>
          <tr>
            <th scope="row" class="bg-dark green">SHORT URL</th>
            <td class="double-td">
              <div>
                {{ request.scheme }}://{{ domain }}/{{link.hash}}
              </div>
              <div>
                <button class="btn copy btn-dark" data-clipboard-text="{{ request.scheme }}://{{ domain }}/{{link.hash}}">
                  <i class="far fa-copy"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="bg-dark">VALID DATE</th>
            <td>{{link.valid_date|default:"Unlimited"}}</td>
          </tr>
          <tr>
            <th scope="row" class="bg-dark">VIEWS</th>
            <td>{{link.views}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}