{% extends "base.html" %}
{% load domain %}
{% load i18n %}

{% block content %}
  {% get_domain as domain %}
  <div>
    <div class="back">
      <a href="{% url 'links:list'%}" class="btn btn-outline-dark small-button" role="button"><i class="fas button-icon fa-arrow-circle-left"></i></a>
    </div>
    <div class="text-center label">
      <h2>{% translate "Link" %} "{{link.hash}}"</h2>
    </div>
    <div class="link-info">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row" class="bg-dark">URL</th>
            <td class="url">{{link.url}}</td>
          </tr>
          <tr>
            <th scope="row" class="bg-dark green">{% translate "SHORT URL" %}</th>
            <td class="double-td short-url">
              <div>
                {{ request.scheme }}://{{ domain }}/{{link.hash}}
              </div>
              <div>
                <button class="btn copy btn-dark small-button" data-clipboard-text="{{ request.scheme }}://{{ domain }}/{{link.hash}}">
                  <i class="far button-icon fa-copy"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="bg-dark">{% translate "VALID DATE" %}</th>
            <td>{{link.valid_date|date:'d F Y H:i'|default:"{% translate "Unlimited" %}"}}</td>
          </tr>
          <tr>
            <th scope="row" class="bg-dark">{% translate "VIEWS" %}</th>
            <td>{{link.views}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}