{% extends "base.html" %}
{% load domain %}

{% block content %}
  {% get_domain as domain %}
  <div>
    <div>
      {% if links %}
        <div class="text-center label">
          <h2> Yours links </h2>
        </div>
        <div class="links-list">
          <table class="table">
            <thead class="thead-dark info">
              <tr>
                <th class="number" scope="col">#</th>
                <th class="url"scope="col">URL</th>
                <th class="short-url" scope="col">Short URL</th>
                <th class="buttons" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for link in links %}
                <tr>
                  <td class="number">{{ forloop.counter }}</td>
                  <td class="url" data-label="URL">{{link.url}}</td>
                  <td class="short-url" data-label="Short URL">{{ request.scheme }}://{{ domain }}/{{link.hash}}</td>
                  <td>
                    <button class="btn copy btn-dark small-button" data-clipboard-text="{{ request.scheme }}://{{ domain }}/{{link.hash}}">
                      <i class="far fa-copy"></i>
                    </button>
                    <a href="{% url 'links:detail' link.id %}" class="btn btn-outline-primary small-button" role="button"><i class="fas fa-info"></i></a>
                    <a href="{% url 'links:edit' link.id %}" class="btn btn-outline-secondary small-button" role="button"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'links:delete' link.id %}" class="btn btn-outline-danger small-button" role="button"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="one-button">
          <a href="{% url 'links:add' %}" class="btn btn-lg btn-block btn-outline-dark" role="button"><i class="fas fa-plus"></i></a>
        </div>
      {% else %}
        <div class="info">
          upps! 
          <br>
          It is incredible but you have no links.
          <br>
          You must change it!
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}