h1, h2, h3, h4, h5 {
  font-family: "Special Elite", cursive;
}

div.container {
  margin-top: 100px;
  margin-bottom: 0px;
}

.home {
  font-family: "Special Elite", cursive;
}

.flex-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.text.flex-item {
  width: 400px;
}

.text-author {
  text-align: right;
  font-size: 14px;
  padding: 10px;
}

.text-grand {
  font-size: 25px;
  padding: 25px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-form{
    font-size: 20px;
    padding: 50px;
}

.list{
    padding-top: 50px;
    padding-bottom: 50px;
}
.button-panel{
    column-count: 2;
    column-gap: 4%;
}
.one-button{
    width: 48%;
    margin: auto;
    padding: 15px;
}
.back{
    font-size: 25px;
    color: black;
}
.label{
    padding-top: 50px;
    padding-bottom: 50px;
}
.info{
    font-family: "Special Elite", cursive;
    font-size: 20px;
    padding: auto;
}

.info th{
    color: white;
}

.register{
  padding-top: 50px;
  padding-bottom: 50px;
}

.reset{
  padding: 15px;
}

.double-td{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .green, a{
  color: rgb(88, 189, 93);
}