h1, h2, h3, h4, h5 {
  font-family: "Special Elite", cursive;
}

div.container {
  margin-top: 100px;
  margin-bottom: 0px;
}

.home {
  font-family: "Special Elite", cursive;
}

.flex-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.text.flex-item {
  width: 400px;
}

.text-author {
  text-align: right;
  font-size: 14px;
  padding: 10px;
}

.text-grand {
  font-size: 25px;
  padding: 25px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-form{
    font-size: 20px;
    padding: 50px;
}

.links-list{
    padding-top: 50px;
    padding-bottom: 50px;
}
.button-panel{
    column-count: 2;
    column-gap: 4%;
}
.one-button{
    width: 48%;
    margin: auto;
    padding: 15px;
}
.back{
    font-size: 25px;
    color: black;
}
.label{
    padding-top: 50px;
    padding-bottom: 50px;
}
.info{
    font-family: "Special Elite", cursive;
    font-size: 20px;
    padding: auto;
}

.info th{
    color: white;
}

.register{
  padding-top: 50px;
  padding-bottom: 50px;
}

.reset{
  padding: 15px;
}

.double-td{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .green, a{
  color: rgb(88, 189, 93);
}

.links-list table {
  table-layout: fixed;
  text-align: center;
}

.links-list table th{
  padding: 5px;
}

.links-list table td{
  vertical-align: middle;
}

.links-list table th.number{
  width: 40px;
}

.links-list table th.url{
  width: 20%;
}

td.url{
  word-wrap: break-word;
}

table td.short-url{
  word-wrap: break-word;
  
}

.links-list table th.buttons{
  width: 200px;
}


@media screen and (max-width: 767px) {
  .links-list table {
    border: 0;
  }
  
  .links-list table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .links-list table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .links-list table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .links-list table td.number{
    font-family: "Special Elite", cursive;
    font-size: 1.0em;
  }
  
  .links-list table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .links-list table td:last-child {
    border-bottom: 0;
  }
}

.small-button{
  width: 40px;
  height: 40px;
}

.button-icon{
  vertical-align: middle;
  text-align: center;
}