td.url {
  word-wrap: break-word;
}

table td.short-url {
  word-wrap: break-word;
}

.links-list {
  padding-top: 50px;
  padding-bottom: 50px;
}

.links-list table {
  table-layout: fixed;
  text-align: center;
}

.links-list .inactive {
  color: rgb(209, 209, 209);
}

.links-list table th {
  padding: 5px;
}

.links-list table td {
  vertical-align: middle;
}

.links-list table th.number {
  width: 40px;
}

.links-list table th.url {
  width: 20%;
}

.links-list table th.buttons {
  width: 200px;
}

@media screen and (max-width: 767px) {
  .links-list table {
    border: 0;
  }

  .links-list table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .links-list table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .links-list table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .links-list table td.number {
    font-family: "Special Elite", cursive;
    font-size: 1em;
  }

  .links-list table td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .links-list table td:last-child {
    border-bottom: 0;
  }
}

.double-td {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-info {
  font-family: "Special Elite", cursive;
  font-size: 10erm;
  padding: auto;
}

.link-info th {
  color: white;
}

.link-info .green,
a {
  color: rgb(88, 189, 93);
}

.link-info table th {
  width: 20%;
}

.link-info table {
  table-layout: fixed;
}

@media screen and (max-width: 576px) {
  .link-info table {
    border: 0;
  }

  .link-info table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .link-info table th {
    background-color: white !important;
    color: black;
  }

  .link-info table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .link-info table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .link-info table td.number {
    font-family: "Special Elite", cursive;
    font-size: 1em;
  }

  .link-info table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .link-info table td:last-child {
    border-bottom: 0;
  }
}
