{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="login">
    <div class="flex-container">
      <div class="text flex-item text-left">
        <h1>{% translate "Login" %}</h1>
        <form method="POST"> 
          {% csrf_token %}
          {{ form|crispy }}
          <div>
            <input class="btn btn-lg btn-block btn-dark" type="submit" value="{% translate "Submit" %}"> 
          </div>
        </form>
        <div class="text-center reset">
          <a href="{% url 'users:password_reset' %}">{% translate "Reset password" %}</a>
        </div>
      </div>
      <div class="flex-item">
        <img class="image-cut" src="{% static 'image/img1.png' %}" />
      </div>
    </div>
    <div class="register">
      <h5 class="text-center">{% translate "Don't have an account?" %}</h5>
      <div class="one-button">
        <a href="{% url 'users:registration_register' %}"  class="btn btn-lg btn-block btn-outline-dark" role="button"><i class="fas fa-plus"></i>{% translate "Create account" %}</a>
      </div>
    </div>
  </div>
{% endblock %}